<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.applabs.crowdsensingtv" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:icon="@drawable/banner"
        android:banner="@drawable/banner"
        android:logo="@drawable/banner">

        <activity
            android:name=".gui.TVMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.ManageAccountsActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>

        <receiver android:name=".gui.BootupActivity"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">

        </activity-->

        <activity
            android:name=".gui.FinishedPollActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".gui.SinglePollActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>

        <service
            android:name=".service.RecommendationService"
            android:enabled="true" />

        <service
            android:name=".service.UpnpService"
            android:enabled="true" />

        <service
            android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl"
            android:enabled="true"/>

    </application>
</manifest>
